/* MadCap Table Style: */

/*<meta conditions="Products.AllProducts,Default.DONOTIMPORT" Version="9" />*/

mcTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: TemenosTables;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	border-left-color: #546c7f;
	border-right-color: #546c7f;
	border-top-color: #546c7f;
	border-bottom-color: #546c7f;
	max-id: 7;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
	background-color: #546c7f;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
	name: Body1;
	id: 1;
	page-break-inside: auto;
}

mcTableBodyStyle
{
	span: 1;
	id: 5;
	name: Body2;
	type: Manual;
	background-color: #546c7f;
	color: #ffffff;
	font-weight: bold;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #546c7f;
	name: Footer1;
	id: 3;
	separator-width: 1px;
}

mcTableFootStyle
{
	span: 1;
	id: 7;
	name: Footer2;
	background-color: #546c7f;
	color: #ffffff;
	font-weight: bold;
}


/* Cell Styles: */
 
.TableStyle-TemenosTables
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #546c7f;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #546c7f;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #546c7f;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #546c7f;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-TemenosTables-Column-Column1
{
	
}

.TableStyle-TemenosTables-Head-Header1
{
	
}

.TableStyle-TemenosTables-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TemenosTables-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-TemenosTables-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TemenosTables-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-TemenosTables-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TemenosTables-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TemenosTables-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-TemenosTables-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TemenosTables-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TemenosTables-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TemenosTables-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TemenosTables-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TemenosTables-Foot-Footer1
{
	
}

.TableStyle-TemenosTables-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TemenosTables-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TemenosTables-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-TemenosTables-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TemenosTables-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-TemenosTables-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TemenosTables-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-TemenosTables-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TemenosTables-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-TemenosTables-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TemenosTables-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TemenosTables-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TemenosTables-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-TemenosTables-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TemenosTables-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TemenosTables-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TemenosTables-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TemenosTables-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TemenosTables-Foot-Footer2
{
	
}

.TableStyle-TemenosTables-FootI-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-FootI-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-FootE-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-FootE-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-FootF-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-FootF-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-FootH-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-FootH-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-FootD-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-FootD-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-FootC-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-FootC-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-FootB-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-FootB-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-FootA-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-FootA-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-FootG-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-FootG-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-Body-Body1
{
	page-break-inside: auto;
}

.TableStyle-TemenosTables-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TemenosTables-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TemenosTables-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-TemenosTables-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TemenosTables-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-TemenosTables-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TemenosTables-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-TemenosTables-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TemenosTables-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-TemenosTables-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TemenosTables-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TemenosTables-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TemenosTables-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-TemenosTables-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TemenosTables-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TemenosTables-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TemenosTables-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TemenosTables-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TemenosTables-Body-Body2
{
	
}

.TableStyle-TemenosTables-BodyI-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-BodyI-Column1-Body2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-BodyE-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-TemenosTables-BodyE-Column1-Body2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-BodyF-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-BodyF-Column1-Body2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-BodyH-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-TemenosTables-BodyH-Column1-Body2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-BodyD-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-BodyD-Column1-Body2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-BodyC-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-BodyC-Column1-Body2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-BodyB-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-TemenosTables-BodyB-Column1-Body2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-BodyA-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-BodyA-Column1-Body2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-TemenosTables-BodyG-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-TemenosTables-BodyG-Column1-Body2 p
{
	color: #ffffff;
	font-weight: bold;
}


