/*<meta />*/

@import url('../jQuery/jquery-ui.css');
@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

table caption
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: normal;
	font-style: italic;
	color: black;
	text-align: center;
	caption-side: bottom;
}

a
{
	font-weight: normal;
	color: #324986;
}

abbr
{
	mc-disabled: false;
}

acronym
{
	mc-disabled: false;
}

address
{
	mc-disabled: false;
}

b.EightPoints
{
	font-size: 8pt;
}

b.Italic
{
	font-style: italic;
}

big
{
	mc-disabled: false;
}

body
{
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-right-width: 3px;
	border-top-width: 3px;
	font-size: 12pt;
	font-family: Calibri;
	background-repeat: no-repeat;
	margin-top: 0px;
}

button
{
	mc-disabled: false;
}

caption
{
	font-family: Calibri;
	font-size: 12pt;
	font-weight: bold;
	color: #002b00;
	text-align: left;
	margin: .75em 0;
	margin-left: 0px;
	margin-bottom: 8pt;
	margin-top: 8pt;
	mc-disabled: false;
}

center
{
	mc-disabled: false;
}

cite
{
	mc-disabled: false;
}

code
{
	mc-disabled: false;
}

col
{
	mc-disabled: false;
}

colgroup
{
	mc-disabled: false;
}

dd
{
	mc-disabled: false;
}

del
{
	mc-disabled: false;
}

dir
{
	mc-disabled: false;
}

div.MadCap2
{
	position: relative;
}

dl
{
	mc-disabled: false;
}

dt
{
	mc-disabled: false;
}

em
{
	mc-disabled: false;
}

embed
{
	mc-disabled: false;
}

fieldset
{
	mc-disabled: false;
}

form
{
	mc-disabled: false;
}

frame
{
	mc-disabled: false;
}

frameset
{
	mc-disabled: false;
}

h1
{
	font-family: Calibri;
	page-break-before: always;
	text-transform: none;
	right: 0px;
	width: 100%;
	left: 0px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
	position: relative;
	top: 0px;
	color: #005294;
	font-size: 24pt;
	font-weight: lighter;
	border-bottom: solid 2px #005294;
	background-color: #f7f7f7;
	border-bottom-width: 1px;
	margin-top: 5px;
	margin-bottom: 10px;
}

h1.NoPageBreakBefore
{
	page-break-before: avoid;
	font-weight: lighter;
	font-size: 23pt;
}

h2
{
	font-family: Calibri;
	text-align: left;
	mc-heading-level: 2;
	margin: 0.75em;
	margin-bottom: 8pt;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 16pt;
	text-transform: none;
	page-break-before: always;
	color: #005294;
	font-size: 18pt;
	font-weight: bold;
}

h2.NoPageBreakBefore
{
	page-break-before: avoid;
	font-size: 18pt;
	font-weight: bold;
}

h2.PageBreakBefore
{
	page-break-after: avoid;
	page-break-inside: avoid;
}

h2.sub
{
	font-size: 9pt;
	mc-heading-level: 0;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-transform: none;
}

h3
{
	mc-heading-level: 0;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin: 0.75em;
	margin-left: 0pt;
	margin-right: 0pt;
	font-family: Calibri;
	page-break-before: avoid;
	margin-top: 12pt;
	margin-bottom: 4pt;
	text-transform: none;
	font-size: 14pt;
	font-weight: bold;
	color: #4169e1;
}

h3.PageBreakBefore
{
	font-size: 14pt;
}

h4
{
	font-weight: bold;
	mc-heading-level: 0;
	margin-bottom: 4pt;
	margin-top: 12pt;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-left: 0;
	font-family: Calibri;
	text-transform: none;
	color: #005294;
	font-size: 11pt;
}

h4.PageBreakBefore
{
	page-break-before: always;
	font-size: 11pt;
}

h5
{
	font-family: Calibri;
	font-weight: bold;
	margin-bottom: 8pt;
	margin-top: 8pt;
	mc-heading-level: 0;
	page-break-before: avoid;
	font-size: 10pt;
	font-style: italic;
	color: #005294;
}

h6
{
	mc-heading-level: 0;
	margin: 0;
	margin-bottom: -3pt;
	margin-top: -3pt;
	page-break-before: avoid;
	color: #005294;
	font-size: 9pt;
}

head
{
	mc-disabled: false;
}

hr
{
	background-color: #005492;
	height: 1px;
	border-bottom-color: #005492;
}

html
{
	mc-disabled: false;
}

img
{
	width: auto !important;
	height: auto !important;
	mc-float: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #808080;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #808080;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	max-width: 900px !important;
	max-height: auto !important;
}

img.popup
{
	mc-thumbnail: popup;
}

img.MaxWidth90Percent
{
	
}

img.MaxWidth100Percent
{
	
}

input
{
	mc-disabled: false;
}

ins
{
	mc-disabled: false;
}

li
{
	margin-bottom: 8pt;
	margin-top: 8pt;
	font-family: Calibri;
	orphans: 2;
	widows: 2;
	font-size: 12pt;
	color: #1a1a1a;
}

li.Bold
{
	font-weight: bold;
}

li.BULLETS
{
	font-style: normal;
	font-weight: normal;
	list-style-position: outside;
	list-style-type: square;
	font-family: Calibri;
	font-size: 12pt;
	color: #a1a1a1;
}

ul.note li.BULLETS
{
	list-style-position: inside;
	background-color: #e3facb;
}

ul.note
{
	margin-left: 0px;
	border-bottom-style: solid;
	background-color: #e3facb;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	margin: 0px;
	margin-right: 8px;
}

li.BULLETSINDENTED2
{
	list-style: square;
	margin-left: 30px;
}

li.NormalIndented2
{
	margin-left: 18pt;
}

li.NumberedSteps
{
	bottom: 6pt;
	top: 6pt;
	font-family: Calibri;
	font-size: 12pt;
	color: #a1a1a1;
}

MadCap|annotation
{
	mc-disabled: false;
}

MadCap|bodyProxy
{
	mc-disabled: false;
}

MadCap|breadcrumbsProxy
{
	font-size: 10pt;
	mc-disabled: false;
	mc-breadcrumbs-prefix: 'You are here: ';
	border-top: solid 0px;
	left: 0px;
	margin: 0px;
	padding-left: 20px;
	right: 0px;
	top: 0px;
	width: 100%;
	position: relative;
	padding: 10px;
	font-family: calibri;
	background-color: #ffffff;
	border-bottom-color: #ffffff;
	border-bottom-width: 0px;
	color: #000000;
}

MadCap|concept
{
	mc-disabled: false;
}

MadCap|conceptLink
{
	mc-disabled: false;
}

MadCap|conceptsProxy
{
	mc-disabled: false;
}

MadCap|conditionalText
{
	mc-disabled: false;
}

MadCap|dropDown
{
	font-size: 12pt;
	margin-bottom: 6pt;
	margin-top: 6pt;
	font-family: Calibri;
	mc-disabled: false;
}

MadCap|dropDownBody
{
	font-size: 12pt;
	font-family: Calibri;
	mc-disabled: false;
}

MadCap|dropDownHead
{
	font-size: 12pt;
	font-family: Calibri;
	mc-disabled: false;
}

MadCap:dropDownHead
{
	margin-bottom: 6pt;
	margin-left: 6pt;
	left: 1px;
	text-indent: 1px;
	font-family: Calibri;
	font-size: 12pt;
}

MadCap|dropDownHotspot
{
	mc-disabled: false;
}

MadCap|endnoteBlock
{
	mc-disabled: false;
}

MadCap|endnotesBlock
{
	mc-disabled: false;
}

MadCap|endnotesProxy
{
	mc-disabled: false;
}

MadCap|expanding
{
	mc-disabled: false;
}

MadCap|expandingBody
{
	mc-disabled: false;
}

MadCap|expandingHead
{
	mc-disabled: false;
}

MadCap|footnote
{
	mc-disabled: false;
}

MadCap|footnoteBlock
{
	mc-disabled: false;
}

MadCap|footnotesBlock
{
	mc-disabled: false;
}

MadCap|glossaryProxy
{
	mc-disabled: false;
}

MadCap|glossaryTerm
{
	mc-disabled: false;
}

MadCap|helpControlMenuItem.Highlighted
{
	mc-disabled: false;
}

MadCap|helpControlMenu
{
	mc-disabled: false;
}

MadCap|helpControlMenuItem
{
	mc-disabled: false;
}

MadCap|indexProxy
{
	mc-disabled: false;
	border-top-color: #ffffff;
	border-top-style: none;
	border-top-width: 0px;
}

MadCap|keyword
{
	mc-disabled: false;
}

MadCap|keywordLink
{
	mc-disabled: false;
}

MadCap|miniTocProxy
{
	font-family: Verdana;
	border-top-width: 0px;
	font-size: 10pt;
	display: block;
	margin-bottom: 10px;
	padding-left: 10px;
	width: 12cm;
	background-color: #dddaf2;
	margin-left: 10px;
	padding-bottom: 10px;
	mc-toc-depth: 2;
}

MadCap|pageFooter
{
	mc-disabled: false;
}

MadCap|pageHeader
{
	mc-disabled: false;
}

MadCap|popup
{
	mc-disabled: false;
}

MadCap|popupBody
{
	mc-disabled: false;
}

MadCap|popupHead
{
	color: #008000;
	mc-disabled: false;
}

MadCap|section
{
	mc-disabled: false;
}

MadCap|shortcut
{
	mc-disabled: false;
}

MadCap|snippetBlock
{
	mc-disabled: false;
}

MadCap|snippetText
{
	mc-disabled: false;
}

MadCap|tocProxy
{
	border-top-color: #ffffff;
	border-top-style: none;
	border-top-width: 0px;
}

MadCap|toggler
{
	mc-disabled: false;
}

MadCap|xref
{
	color: #006400;
	mc-format: '{para}';
	font-weight: normal;
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #8fbc8b;
}

MadCap|xref.seepara
{
	color: #006400;
	mc-format: '{para}';
}

madcapEditorBehavior
{
	mc-disabled: false;
}

map
{
	mc-disabled: false;
}

menu
{
	mc-disabled: false;
}

noframes
{
	mc-disabled: false;
}

o
{
	mc-disabled: false;
}

object
{
	mc-disabled: false;
}

ol,
ul
{
	margin-bottom: 0pt;
	margin-top: 0pt;
}

ol.Example
{
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	background-color: #ddedfe;
	margin-left: 0px;
	border-bottom-style: solid;
}

ol.LowerAlpha
{
	list-style-type: lower-alpha;
}

ol.LowerRoman
{
	list-style-type: lower-roman;
}

ol.note
{
	margin-left: 0px;
	border-bottom-style: solid;
	background-color: #9fff88;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	margin: 0px;
	margin-right: 8px;
}

p
{
	margin-bottom: 8pt;
	margin-top: 8pt;
	text-indent: 1px;
	top: 0px;
	margin-left: 0pt;
	widows: 2;
	orphans: 2;
	margin-right: 0px;
	color: #1a1a1a;
	font-family: calibri;
	font-size: 12pt;
}

p.AfterBestPractice
{
	margin-bottom: 12pt;
}

p.Answer
{
	bottom: 0pt;
	margin-left: 0.12in;
	color: #000000;
}

p.BestPractice
{
	background-color: #ccccff;
	border-bottom-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-top-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	margin-bottom: 12.5pt;
	margin-top: 12.5pt;
}

p.Bold
{
	font-weight: bold;
}

p.BULLETS
{
	color: #000000;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	list-style-position: outside;
	list-style-type: square;
	margin-bottom: 8pt;
	margin-top: 8pt;
	font-family: Calibri;
	mc-auto-number-format: '● ';
	text-align: left;
	text-indent: 2px;
	margin-left: -4px;
}

p.BULLETSINDENTED1
{
	list-style: square;
	margin-left: 0.175in;
	mc-auto-number-format: '● ';
}

p.Center
{
	text-align: center;
}

p.Image
{
	text-align: center;
}

p.ContentsHeading
{
	font-family: Calibri;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 72pt;
}

p.Copyright1
{
	margin-right: 0px;
	text-indent: 0px;
}

p.Example
{
	border-bottom: solid 1px #c0c0c0;
	padding: 6px;
	margin-top: 0pt;
	letter-spacing: 1px;
	font-family: Verdana;
	font-size: 8pt;
	padding-left: 30px;
	background-color: #ddedfe;
}

p.Example3
{
	font-family: Verdana;
	font-size: 8pt;
	letter-spacing: 1px;
	margin-bottom: 0pt;
	margin-top: 0pt;
	padding: 6px;
	padding-left: 30px;
	background-color: #ddedfe;
}

p.ExampleCode
{
	border-bottom: solid 1px #c0c0c0;
	border-top: solid 1px #c0c0c0;
	font-family: 'Courier New';
	font-size: 12px;
	padding: 8px;
	background-color: #ddedfe;
}

p.ExampleHead
{
	font-variant: small-caps;
	border-top: solid 1px #c0c0c0;
	padding: 6px;
	margin-bottom: 0pt;
	font-family: Verdana;
	letter-spacing: 5px;
	background-color: #ddedfe;
	mc-heading-level: 0;
	margin-top: 6pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-transform: none;
	color: #002b00;
	font-weight: bold;
	text-align: left;
	font-size: 12pt;
}

p.ExampleIndented
{
	background-color: #ddedfe;
	border-bottom: solid 1px #c0c0c0;
	border-top: solid 0px #c0c0c0;
	font-family: Verdana;
	font-size: 8pt;
	letter-spacing: 1px;
	margin-top: 0pt;
	padding: 6px;
	padding-left: 44px;
}

p.Example3Indented
{
	font-family: Verdana;
	font-size: 8pt;
	letter-spacing: 1px;
	margin-bottom: 0pt;
	margin-top: 0pt;
	padding: 6px;
	padding-left: 44px;
	background-color: #ddedfe;
}

p.Footer
{
	font-size: 8pt;
	margin-bottom: 0pt;
	margin-top: 0pt;
	text-align: Right;
	color: #000000;
}

p.h2sub
{
	font-family: 'Calibri';
	font-size: 9pt;
	font-weight: bold;
}

p.HowTo
{
	mc-heading-level: 0;
	font-size: 12pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-transform: none;
	color: #002b00;
	font-family: Calibri;
	font-weight: bold;
	margin-top: 16pt;
	text-align: left;
	page-break-before: avoid;
}

p.IndexHeading
{
	font-family: Calibri;
	font-size: 14pt;
	font-weight: bold;
	text-align: left;
	margin-bottom: 0pt;
	margin-top: 0pt;
	margin: 0pt;
}

p.IndexPrintHead
{
	font-family: Calibri;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 72pt;
	mc-heading-level: 1;
	margin: 0pt;
}

p.ListOfElementsEntries
{
	mc-leader-align: right;
	margin-top: 80pt;
	margin: 8pt;
	margin-left: 0pt;
	margin-right: 0pt;
}

p.ManualTitle
{
	font-family: 'Tw Cen MT Condensed Extra Bold';
	letter-spacing: 6px;
	text-align: center;
	margin-top: 30pt;
	font-size: 30pt;
}

p.ManualTitleImage
{
	margin-top: 10pt;
	font-weight: bolder;
}

p.MiniTOC1
{
	mc-leader-offset: 10pt;
	mc-leader-align: left;
	font-family: Calibri;
	margin-left: 0.75in;
}

p.MiniTOC2
{
	mc-leader-align: left;
	margin-left: 1.5in;
	font-family: Calibri;
}

p.MiniTOC3
{
	margin-left: 2in;
	font-family: Calibri;
}

p.NormalIndented
{
	margin-left: 12pt;
}

p.NormalIndented2
{
	margin-left: 30pt;
}

p.NormalIndented3
{
	margin-left: 40pt;
}

p.note
{
	border-bottom-style: None;
	border-bottom-width: 1px;
	border-left-style: None;
	border-right-style: None;
	border-top-style: None;
	border-top-width: 1px;
	line-height: normal;
	text-align: left;
	border-left-width: 0px;
	border-right-width: 0px;
	color: #000000;
	border-bottom: solid 1px #a6a6a6;
	border-bottom-color: #a6a6a6;
	border-top: solid 1px #a6a6a6;
	border-top-color: #a6a6a6;
	font-family: calibri;
	font-size: 12pt;
	display: block;
	border-left: solid 1px #a6a6a6;
	border-right: solid 1px #a6a6a6;
	text-indent: 4px;
	background-color: #dcdcdc;
	padding-bottom: 8pt;
	padding-left: 8pt;
	padding-right: 8pt;
	padding-top: 8pt;
	margin-top: 8pt;
	margin-left: 20pt;
	margin-right: 20pt;
}

p.note1
{
	border-bottom-style: None;
	border-bottom-width: 1px;
	border-left-style: None;
	border-right-style: None;
	border-top-color: #005b04;
	border-top-style: None;
	border-top-width: 1px;
	color: #094600;
	font-size: 12pt;
	line-height: normal;
	text-align: left;
	font-family: Calibri;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	border-top: solid 1px #000000;
	border-left-width: 0px;
	border-right-width: 0px;
	margin-bottom: 0px;
	border-bottom: solid 0px #000000;
	background-color: #e3facb;
}

p.note2
{
	border-bottom-style: None;
	border-left-style: None;
	border-right-style: None;
	border-top-style: None;
	color: #094600;
	font-size: 12pt;
	line-height: normal;
	margin-left: 30pt;
	text-align: left;
	font-family: Calibri;
	padding: 6pt;
	border-bottom: solid 1 #000000;
	border-top: solid 1px #000000;
	background-color: #e3facb;
}

p.note3
{
	border-bottom-style: None;
	border-bottom-width: 1px;
	border-left-style: None;
	border-right-style: None;
	border-top-color: #005b04;
	border-top-style: None;
	border-top-width: 1px;
	color: #094600;
	font-size: 12pt;
	line-height: normal;
	text-align: left;
	font-family: Calibri;
	padding-top: 6pt;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	border-left-width: 0px;
	border-right-width: 0px;
	margin-bottom: 0px;
	border-bottom: solid 0px #000000;
	margin-top: 0px;
	border-top: solid 0px #000000;
	background-color: #e3facb;
}

p.TableColumnHead
{
	font-weight: bold;
	text-align: center;
	color: #000000;
}

p.TableText
{
	color: #000000;
	margin-bottom: 2pt;
	margin-top: 8pt;
	bottom: 12px;
	top: 12px;
	font-family: Calibri;
	font-size: 12pt;
}

p.TableTextBold
{
	font-weight: bold;
	margin-bottom: 2pt;
	font-size: 12pt;
	bottom: 18px;
	top: 18px;
}

p.TableTextBoldExtraSpaceAbove
{
	font-style: normal;
	font-weight: bold;
	margin-bottom: 2pt;
}

p.TableTextCenter
{
	margin-bottom: 2pt;
	bottom: 12px;
	top: 12px;
	text-align: center;
}

p.TableTextExtraSpaceAbove
{
	margin-bottom: 2pt;
}

p.tip
{
	background-color: #ffffdf;
	color: #0000D0;
	margin-bottom: 8pt;
	margin-right: 0pt;
	margin-top: 0pt;
	border-bottom: solid 1px #0000d0;
	border-top: solid 1px #0000d0;
	padding: 6px;
}

p.TOC1
{
	margin-bottom: 8pt;
	margin-top: 8pt;
	margin: 0;
}

p.TOC2
{
	text-indent: 1px;
	margin-left: 10pt;
	margin-bottom: 8pt;
	margin-top: 8pt;
}

p.Warning
{
	border-bottom-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-top-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-bottom: solid 1px #000000;
	border-top: solid 1px #000000;
	margin-right: 6px;
	padding-bottom: 6pt;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	background-color: #faebd7;
}

pre
{
	mc-disabled: false;
}

s
{
	mc-disabled: false;
}

samp
{
	mc-disabled: false;
}

script
{
	mc-disabled: false;
}

select
{
	mc-disabled: false;
}

small
{
	mc-disabled: false;
}

span.Bold
{
	font-style: normal;
	font-weight: bold;
}

span.ChapTitle
{
	color: #000000;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
}

span.FootnoteText
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 57pt;
	font-family: Verdana;
	font-size: 8pt;
}

span.MadCap2
{
	font-style: italic;
	mc-disabled: false;
}

span.TableCodeBlue
{
	font-family: 'Courier New';
	font-size: 9pt;
	color: #0000ff;
}

span.TypedEntry
{
	font-family: "Courier New", monospace;
}

span.Warning
{
	color: #ff0000;
	font-weight: bold;
}

strike
{
	mc-disabled: false;
}

strong
{
	mc-disabled: false;
}

style
{
	mc-disabled: false;
}

td
{
	font-size: 12pt;
	margin-bottom: 8pt;
	vertical-align: top;
	margin-left: 8pt;
	margin-right: 8pt;
	margin: 8pt;
	font-family: Calibri;
	margin-top: 8pt;
}

td ol,
td ul
{
	margin-bottom: 0;
	margin-top: 0;
}

textarea
{
	mc-disabled: false;
}

textPopup
{
	mc-disabled: false;
}

th
{
	font-size: 12pt;
	color: #ffffff;
	margin-bottom: 8pt;
	margin-left: 0pt;
	margin-top: 8pt;
	font-family: Calibri;
}

tr
{
	page-break-inside: avoid;
	border: solid 2px;
	border-bottom: solid 2px;
	border-color: #000000;
	border-width: 1px;
	padding: 1px;
	width: 1px;
	border-left: solid 1px;
	border-right: solid 1px;
	border-style: solid;
}

ul.Square
{
	list-style-type: square;
}

var
{
	mc-disabled: false;
}

@media onlinePDFs
{
	a
	{
		color: #000000;
		text-decoration: none;
		font-weight: normal;
	}

	a:link
	{
		color: #000000;
		text-decoration: none;
	}

	a:visited
	{
		color: #000000;
		text-decoration: none;
	}

	body
	{
		font-family: Calibri;
		margin: 8px;
		background-image: none;
	}

	h1
	{
		color: #000000;
		border-bottom-style: solid;
		border-bottom-color: #000000;
		margin-top: 0;
		font-size: 18pt;
		margin: 0pt;
		border-bottom-width: 1pt;
		margin-bottom: 24pt;
		background-color: #ffffff;
		border-bottom: solid 0pt #ffffff;
		padding-left: 0px;
	}

	h1.contents
	{
		font-size: 16pt;
	}

	h2
	{
		color: #000000;
		text-transform: none;
		page-break-before: always;
		margin-bottom: 8pt;
		margin-top: 12pt;
		font-size: 14pt;
	}

	h2.sub
	{
		page-break-before: avoid;
		margin-bottom: 0pt;
		margin-top: 12pt;
	}

	h3
	{
		font-size: 12pt;
	}

	h3.PageBreakBefore
	{
		page-break-before: always;
	}

	h4
	{
		margin-left: 0pt;
		color: #000000;
		font-size: 12pt;
	}

	h4.PageBreakBefore
	{
		page-break-before: always;
	}

	img
	{
		
	}

	img.MaxWidth90Percent
	{
		max-width: 90%;
	}

	img.MaxWidth100Percent
	{
		max-width: 100%;
	}

	li
	{
		margin-bottom: 6pt;
		margin-top: 6pt;
		text-align: justify;
		orphans: 2;
		widows: 2;
		font-family: Calibri;
		font-size: 12pt;
	}

	li.BULLETS
	{
		font-family: Calibri;
		font-size: 12pt;
	}

	li.li_1
	{
		list-style-type: disc;
	}

	li.MadCap2
	{
		font-family: Calibri;
	}

	li.note
	{
		font-family: Calibri;
	}

	li.NumberedSteps
	{
		font-family: Calibri;
	}

	li.Question
	{
		font-family: Calibri;
	}

	li.TableText
	{
		font-family: Calibri;
	}

	MadCap|dropDown
	{
		font-family: Calibri;
		font-size: 12pt;
	}

	MadCap|dropDownBody
	{
		font-family: Calibri;
		font-size: 12pt;
	}

	MadCap|dropDownHead
	{
		font-family: Calibri;
		font-size: 12pt;
	}

	MadCap|expandingBody
	{
		font-size: 8pt;
	}

	MadCap|expandingHead
	{
		font-size: 8pt;
	}

	MadCap|listOfProxy
	{
		width: 5in;
		margin-top: 30px;
	}

	MadCap|popupHead
	{
		color: #000000;
	}

	MadCap|xref
	{
		color: #000000;
		text-decoration: none;
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
	}

	MadCap|xref.seepara
	{
		color: #000000;
		mc-format: '{quote}{para}{quote} {pageref}';
	}

	p
	{
		margin: 0;
		margin-bottom: 8pt;
		margin-top: 8pt;
		left: 0px;
		text-indent: 0in;
		widows: 2;
		orphans: 2;
		text-align: justify;
		font-family: Calibri;
		font-size: 12pt;
	}

	p.BULLETS
	{
		font-family: Calibri;
	}

	p.BULLETS_3
	{
		color: #000000;
		font-size: 12pt;
		font-style: normal;
		font-weight: normal;
		list-style-position: outside;
		margin-bottom: 8pt;
		margin-left: 0px;
		margin-top: 8pt;
		font-family: Calibri;
		list-style-type: disc;
	}

	p.ContentsHeading
	{
		page-break-before: always;
		font-weight: bold;
		text-indent: 0px;
		left: 0px;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 16pt;
		border-bottom: solid 1pt #000000;
	}

	p.Example
	{
		border-width: 1px;
		padding-left: 6px;
		margin-top: 0pt;
		font-family: Calibri;
		border-top-width: 0px;
		border-bottom-color: #000000;
		border-left-width: 1px;
		border-right-width: 1px;
		border: solid 1px;
		border-left-color: #ddedfe;
		border-right-color: #ddedfe;
		border-top-color: #ddedfe;
		font-size: 12pt;
	}

	p.Example3
	{
		padding-left: 6px;
		margin-top: 0pt;
		font-family: Calibri;
		border: solid 1px;
		background-color: #ddedfe;
		border-bottom-color: #ddedfe;
		border-left-color: #ddedfe;
		border-right-color: #ddedfe;
		border-top-color: #ddedfe;
		font-size: 12pt;
	}

	p.Example3Indented
	{
		font-family: Calibri;
		background-color: #ddedfe;
		font-size: 12pt;
	}

	p.ExampleCode
	{
		border-bottom: solid 1px #000000;
		border-top: solid 1px #000000;
		background-color: #ddedfe;
	}

	p.ExampleHead
	{
		border-top: solid 1px #c0c0c0;
		page-break-before: avoid;
		margin-top: 6pt;
		border: solid 0px;
		border-bottom-width: 0px;
		border-top-width: 1px;
		border-top-color: #000000;
		color: #000000;
		background-color: #ddedfe;
		font-size: 12pt;
	}

	p.HowTo
	{
		page-break-before: avoid;
		color: #000000;
		margin-top: 12pt;
	}

	p.Index1
	{
		margin-bottom: 4pt;
		margin-top: 4pt;
	}

	p.Index2
	{
		margin-bottom: 0pt;
		margin-top: 0pt;
	}

	p.IndexHeading
	{
		margin-top: 0pt;
		padding-top: 16px;
	}

	p.IndexPrintHead
	{
		page-break-before: always;
		font-weight: bold;
		text-indent: 0px;
		left: 0px;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 16pt;
		border-bottom: solid 1pt #000000;
	}

	p.instep
	{
		font-family: Calibri;
	}

	p.ListOfElementsEntries
	{
		mc-leader-format: '.';
		mc-leader-align: right;
		font-family: Calibri;
		font-size: 9pt;
		font-weight: bold;
		margin-bottom: 12pt;
		margin-top: 12pt;
		mc-leader-offset: 6px;
	}

	p.ManualTitleImage
	{
		margin-top: 130pt;
	}

	p.note
	{
		color: #000000;
		padding: 8px;
		border-bottom-color: #000000;
		border-top-color: #000000;
		margin-left: 0in;
		font-family: Calibri;
		border: solid 1px;
		border-left-width: 0px;
		border-right-width: 0px;
		border-right-style: none;
		border-left-style: none;
		background-color: #e3facb;
		font-size: 12pt;
		padding-right: 16px;
	}

	p.note1
	{
		color: #000000;
		padding: 8px;
		border-bottom-color: #000000;
		border-top-color: #000000;
		font-family: Calibri;
		border: solid 1px;
		border-left-style: none;
		border-left-width: 0px;
		border-right-style: none;
		border-right-width: 0px;
		background-color: #e3facb;
		font-size: 12pt;
		border-bottom-width: 0px;
		padding-right: 16px;
	}

	p.note2
	{
		color: #000000;
		padding: 8px;
		border-bottom-color: #000000;
		border-top-color: #000000;
		font-family: Calibri;
		border: solid 1px;
		border-left-style: none;
		border-left-width: 0px;
		border-right-style: none;
		border-right-width: 0px;
		background-color: #e3facb;
		font-size: 12pt;
		padding-right: 16px;
	}

	p.note3
	{
		font-family: Calibri;
		padding-right: 12pt;
	}

	p.NUMBERS
	{
		font-family: Calibri;
	}

	p.Question
	{
		font-family: Calibri;
	}

	p.TableColumnHead
	{
		
	}

	p.TableText
	{
		margin-top: 3pt;
		text-align: left;
		font-family: Calibri;
		font-size: 12pt;
	}

	p.TableTextBold
	{
		margin-top: 3pt;
		text-align: left;
		font-family: Calibri;
		font-size: 12pt;
	}

	p.TableTextBoldExtraSpaceAbove
	{
		margin-top: 18pt;
		font-size: 12pt;
	}

	p.TableTextCenter
	{
		margin-top: 3pt;
		text-align: center;
		font-size: 12pt;
	}

	p.TableTextExtraSpaceAbove
	{
		margin-top: 18pt;
		font-size: 12pt;
	}

	p.TableTextLeft
	{
		margin-top: 3pt;
		text-align: left;
		font-size: 12pt;
	}

	p.tip
	{
		border-bottom-color: #e6e6e6;
		border-bottom: solid 1px #000000;
		border-top-color: #000000;
		background-color: #ffffdf;
		color: #0000d0;
		padding-right: 12px;
	}

	p.TitleHeading
	{
		page-break-before: always;
		margin-top: 300pt;
		text-align: right;
	}

	p.TOC1
	{
		margin: 0;
		tab-stops: right dotted 5in;
		text-indent: 0.0in;
		margin-bottom: 4pt;
		margin-top: 4pt;
	}

	p.TOC2
	{
		tab-stops: right dotted 5in;
		margin-bottom: 1pt;
		margin-top: 1pt;
	}

	p.Warning
	{
		padding: 8px;
		padding-right: 16px;
	}

	span.Bold
	{
		
	}

	span.TypedEntry
	{
		
	}

	span.Warning
	{
		
	}

	table
	{
		max-width: 100%;
	}

	td
	{
		font-size: 8pt;
		font-family: Calibri;
	}

	th
	{
		font-family: Calibri;
		font-size: 12pt;
	}

	ul.ul_6
	{
		list-style-type: disc;
		margin-left: 28pt;
	}

	p.MiniTOC1
	{
		margin-left: 0.5in;
	}

	MadCap|miniTocProxy
	{
		margin-right: 0.5in;
		margin-left: 0.5in;
		padding-left: 0px;
	}

	MadCap:dropDownHead
	{
		font-family: Calibri;
	}

	span.ExampleText
	{
		font-family: Calibri;
		font-size: 12pt;
	}
}

@media print
{
	a
	{
		color: #000000;
		text-decoration: none;
		font-weight: normal;
	}

	a:link
	{
		color: #000000;
		text-decoration: none;
	}

	a:visited
	{
		color: #000000;
		text-decoration: none;
	}

	body
	{
		font-family: Calibri;
		margin: 8px;
		background-image: none;
	}

	h1
	{
		color: #002000;
		border-bottom-style: solid;
		border-bottom-color: #000000;
		margin-top: 0;
		margin: 0pt;
		border-bottom-width: 1pt;
		margin-bottom: 24pt;
		font-size: 18pt;
		background-color: #ffffff;
		border-bottom: solid 0pt #ffffff;
		padding-left: 0px;
		font-weight: bold;
	}

	h1.contents
	{
		font-size: 14pt;
	}

	h2
	{
		color: #33407d;
		text-transform: none;
		page-break-before: always;
		margin-bottom: 8pt;
		margin-top: 12pt;
		font-size: 13pt;
		font-weight: bold;
	}

	h2.sub
	{
		page-break-before: avoid;
		margin-bottom: 0pt;
		margin-top: 12pt;
	}

	h3
	{
		color: #33407d;
		text-transform: none;
		margin-bottom: 8pt;
		margin-top: 12pt;
		font-size: 12pt;
		font-weight: bold;
	}

	h3.PageBreakBefore
	{
		page-break-before: always;
	}

	h4
	{
		color: #4169e1;
		text-transform: none;
		margin-bottom: 8pt;
		margin-top: 12pt;
		font-size: 10pt;
		font-weight: bold;
	}

	h4.PageBreakBefore
	{
		page-break-before: always;
	}

	h5
	{
		color: black;
		text-transform: none;
		margin-bottom: 8pt;
		margin-top: 12pt;
		font-size: 10pt;
		font-style: italic;
	}

	img
	{
		width: auto !important;
		height: auto !important;
		mc-float: none;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #808080;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #808080;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #808080;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #808080;
		max-width: 630px !important;
		max-height: auto !important;
	}

	img.MaxWidth90Percent
	{
		max-width: 90%;
	}

	img.MaxWidth100Percent
	{
		max-width: 100%;
	}

	li
	{
		margin-bottom: 6pt;
		margin-top: 6pt;
		text-align: justify;
		orphans: 2;
		widows: 2;
		font-family: Calibri;
		font-size: 8pt;
	}

	li.BULLETS
	{
		font-family: Calibri;
		font-size: 8pt;
	}

	li.MadCap2
	{
		font-family: Calibri;
	}

	li.note
	{
		font-family: Calibri;
	}

	li.NumberedSteps
	{
		font-family: Calibri;
	}

	li.Question
	{
		font-family: Calibri;
	}

	li.TableText
	{
		font-family: Calibri;
	}

	MadCap|dropDown
	{
		font-family: Calibri;
		font-size: 8pt;
	}

	MadCap|dropDownBody
	{
		font-family: Calibri;
		font-size: 8pt;
	}

	MadCap|dropDownHead
	{
		font-family: Calibri;
		font-size: 8pt;
	}

	MadCap|expandingBody
	{
		font-size: 8pt;
	}

	MadCap|expandingHead
	{
		font-size: 8pt;
	}

	MadCap|listOfProxy
	{
		width: 5in;
		margin-top: 30px;
	}

	MadCap|popupHead
	{
		color: #000000;
	}

	MadCap|xref
	{
		color: #000000;
		text-decoration: none;
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
	}

	MadCap|xref.seepara
	{
		color: #000000;
		mc-format: '{quote}{para}{quote} {pageref}';
	}

	p
	{
		margin: 0;
		margin-bottom: 8pt;
		margin-top: 8pt;
		left: 0px;
		text-indent: 0in;
		widows: 2;
		orphans: 2;
		text-align: justify;
		font-family: Calibri;
		font-size: 8pt;
	}

	p.BULLETS
	{
		font-family: Calibri;
	}

	p.ContentsHeading
	{
		page-break-before: always;
		font-weight: bold;
		text-indent: 0px;
		left: 0px;
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: solid 1pt #000000;
		font-size: 14pt;
	}

	p.Example
	{
		border-width: 1px;
		margin-top: 0pt;
		font-family: Calibri;
		font-size: 8pt;
		background-color: #eaeaea;
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #eaeaea;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #eaeaea;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #eaeaea;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		padding-left: 6px;
		padding-right: 6px;
		padding-top: 6px;
		padding-bottom: 6px;
	}

	p.Example3
	{
		margin-top: 0pt;
		font-family: Calibri;
		font-size: 8pt;
		background-color: #eaeaea;
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #eaeaea;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #eaeaea;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #eaeaea;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #eaeaea;
		padding-left: 6px;
		padding-right: 6px;
		padding-top: 6px;
		padding-bottom: 6px;
	}

	p.Example3Indented
	{
		font-family: Calibri;
		font-size: 8pt;
		background-color: #eaeaea;
	}

	p.ExampleCode
	{
		border-bottom: solid 1px #000000;
		border-top: solid 1px #000000;
		margin-top: 3pt;
		margin-bottom: 3pt;
		background-color: #eaeaea;
	}

	p.ExampleHead
	{
		border-top: solid 1px #c0c0c0;
		page-break-before: avoid;
		margin-top: 6pt;
		border: solid 0px;
		border-bottom-width: 0px;
		border-top-width: 1px;
		border-top-color: #000000;
		color: #000000;
		font-size: 9pt;
		background-color: #eaeaea;
	}

	p.HowTo
	{
		page-break-before: avoid;
		color: #000000;
		margin-top: 9pt;
		font-size: 8pt;
	}

	p.Index1
	{
		margin-bottom: 4pt;
		margin-top: 4pt;
	}

	p.Index2
	{
		margin-bottom: 0pt;
		margin-top: 0pt;
	}

	p.IndexHeading
	{
		margin-top: 0pt;
		padding-top: 16px;
	}

	p.IndexPrintHead
	{
		page-break-before: always;
		font-weight: bold;
		text-indent: 0px;
		left: 0px;
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: solid 1pt #000000;
		font-size: 14pt;
	}

	p.instep
	{
		font-family: Calibri;
	}

	p.ListOfElementsEntries
	{
		mc-leader-format: '.';
		mc-leader-align: right;
		font-family: Calibri;
		font-weight: bold;
		margin-bottom: 12pt;
		margin-top: 12pt;
		mc-leader-offset: 6px;
		font-size: 8pt;
	}

	p.ManualTitleImage
	{
		margin-top: 130pt;
	}

	p.note
	{
		color: #000000;
		padding: 8px;
		border-bottom-color: #000000;
		border-top-color: #000000;
		margin-left: 0in;
		font-family: Calibri;
		border: solid 1px;
		border-left-width: 0px;
		border-right-width: 0px;
		border-right-style: none;
		border-left-style: none;
		font-size: 8pt;
		background-color: #dcdcdc;
		padding-right: 16px;
	}

	p.note1
	{
		color: #000000;
		padding: 8px;
		border-bottom-color: #000000;
		border-top-color: #000000;
		font-family: Calibri;
		border: solid 1px;
		border-left-style: none;
		border-left-width: 0px;
		border-right-style: none;
		border-right-width: 0px;
		border-bottom-width: 0px;
		font-size: 8pt;
		background-color: #dcdcdc;
		padding-right: 16px;
	}

	p.note2
	{
		color: #000000;
		padding: 8px;
		border-bottom-color: #000000;
		border-top-color: #000000;
		font-family: Calibri;
		border: solid 1px;
		border-left-style: none;
		border-left-width: 0px;
		border-right-style: none;
		border-right-width: 0px;
		font-size: 8pt;
		background-color: #dcdcdc;
		padding-right: 16px;
	}

	p.note3
	{
		font-family: Calibri;
		background-color: #dcdcdc;
		color: #000000;
		padding: 8px;
		padding-right: 16px;
		font-size: 8pt;
	}

	p.NUMBERS
	{
		font-family: Calibri;
	}

	p.Question
	{
		font-family: Calibri;
	}

	p.TableColumnHead
	{
		
	}

	p.TableText
	{
		margin-top: 3pt;
		text-align: left;
		font-family: Calibri;
		font-size: 8pt;
	}

	p.TableTextBold
	{
		margin-top: 3pt;
		text-align: left;
		font-family: Calibri;
		font-size: 8pt;
	}

	p.TableTextBoldExtraSpaceAbove
	{
		margin-top: 18pt;
		font-size: 8pt;
	}

	p.TableTextCenter
	{
		margin-top: 3pt;
		text-align: center;
		font-size: 8pt;
	}

	p.TableTextExtraSpaceAbove
	{
		margin-top: 18pt;
		font-size: 8pt;
	}

	p.TableTextLeft
	{
		margin-top: 3pt;
		text-align: left;
		font-size: 8pt;
	}

	p.tip
	{
		border-bottom-color: #e6e6e6;
		border-bottom: solid 1px #000000;
		border-top-color: #000000;
		background-color: #f5f5f5;
		color: #000000;
		padding-right: 12px;
	}

	p.TitleHeading
	{
		page-break-before: always;
		margin-top: 300pt;
		text-align: right;
	}

	p.TOC1
	{
		margin: 0;
		tab-stops: right dotted 5in;
		text-indent: 0.0in;
		margin-bottom: 4pt;
		margin-top: 4pt;
	}

	p.TOC2
	{
		tab-stops: right dotted 5in;
		margin-bottom: 1pt;
		margin-top: 1pt;
	}

	p.Warning
	{
		padding: 8px;
		background-color: #f5f5f5;
		padding-right: 16px;
	}

	span.Bold
	{
		
	}

	span.TypedEntry
	{
		
	}

	span.Warning
	{
		color: #696969;
	}

	table
	{
		max-width: 4.5in;
	}

	td
	{
		font-size: 8pt;
		font-family: Calibri;
	}

	th
	{
		font-family: Calibri;
		font-size: 8pt;
		background-color: #000000;
	}

	p.MiniTOC1
	{
		margin-left: 0in;
	}

	MadCap|miniTocProxy
	{
		margin-left: 0.25in;
		margin-right: 0.25in;
		padding-left: 0px;
	}

	p.BoldAlignRight
	{
		
	}

	span.TableCodeBlue
	{
		color: #696969;
	}

	thead
	{
		background-color: #000000;
	}

	MadCap:dropDownHead
	{
		font-family: Calibri;
		font-size: 8pt;
	}

	tbody
	{
		
	}

	p.ExampleCode4
	{
		padding-bottom: 3px;
		padding-top: 3px;
		background-color: #eaeaea;
	}

	p.ExampleCode4Indented
	{
		padding-bottom: 3px;
		padding-top: 3px;
		background-color: #eaeaea;
	}

	p.ExampleCode4Indented2
	{
		padding-bottom: 3px;
		padding-top: 3px;
		background-color: #eaeaea;
	}

	span.ExampleText
	{
		font-family: Calibri;
	}

	span.APIName
	{
		font: Times;
		font-style: italic;
		font-size: 14pt;
	}

	p.Appendix
	{
		font-style: inherit;
		font-size: 9pt;
	}

	p.Result
	{
		font-size: 12pt;
		font-family: Calibri;
	}

	p.prereq
	{
		font-size: 12pt;
		font-family: Calibri;
	}
}

span.SeeIndexTerms
{
	font-style: italic;
}

span.SeeAlsoIndexTerms
{
	font-style: italic;
}

p.BoldAlignRight
{
	font-weight: bold;
	text-align: right;
}

p.ExampleCode4
{
	background-color: #ddedfe;
	font-family: 'Courier New';
	border-top: solid 1px #c0c0c0;
	margin-bottom: 0pt;
	font-size: 9pt;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #c0c0c0;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 0;
}

p.ExampleCode4Indented
{
	background-color: #ddedfe;
	font-family: 'Courier New';
	border-top: solid 1px #c0c0c0;
	margin-bottom: 0pt;
	font-size: 9pt;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #c0c0c0;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 0;
	margin-left: 0;
	padding-left: 30px;
}

p.ExampleCode4Indented2
{
	background-color: #ddedfe;
	font-family: 'Courier New';
	border-top: solid 1px #c0c0c0;
	margin-bottom: 0pt;
	font-size: 9pt;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #c0c0c0;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 0;
	margin-left: 0;
	padding-left: 60px;
}

span.ExampleText
{
	font-family: Verdana;
	font-size: 8pt;
	letter-spacing: 1px;
}

img.MaxWidth70PercentNoThumbnail
{
	mc-thumbnail: none;
}

div.Indent5Percent
{
	margin-left: 5%;
}

div.Indent10Percent
{
	margin-left: 10%;
}

div.Indent15Percent
{
	margin-left: 15%;
}

div.Indent20Percent
{
	margin-left: 20%;
}

h1.contents
{
	background-color: #ffffff;
	font-weight: lighter;
	border-bottom: solid 1px #f7f7f7;
	border-bottom-color: #f7f7f7;
	font-size: 23pt;
}

html.elearning
{
	mc-master-page: url('../MasterPages/ClickAdvance.flmsp');
}

a.internal
{
	
}

img.internal
{
	
}

@media non-print
{
	html.elearning
	{
		mc-master-page: url('../MasterPages/ClickAdvance.flmsp');
	}

	table.Table
	{
		border-left-style: solid;
		border-left-width: 3px;
		border-left-color: ;
		border-right-style: solid;
		border-right-width: 3px;
		border-right-color: ;
		border-top-style: solid;
		border-top-width: 3px;
		border-top-color: ;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		border-bottom-color: ;
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	p.BULLETS
	{
		font-weight: bold;
		font-style: normal;
		font-size: 8pt;
	}

	p.BULLETS_1
	{
		font-size: 8pt;
		list-style: BULLETS;
	}
}

p.BulletsIndented_2
{
	list-style: square;
	margin-left: 0.175in;
	text-indent: 10px;
}

p.ListingCaption
{
	font-weight: bold;
	text-indent: 10px;
}

p.BULLETS_1
{
	font-size: 8pt;
	mc-auto-number-format: '● ';
}

table
{
	border: solid 1px;
	border-style: solid;
	border-top: solid 1px;
	border-right: solid 1px;
	border-left: solid 1px;
}

h1.Heading1
{
	margin-bottom: 8pt;
	font-family: Calibri;
	page-break-before: always;
	text-transform: none;
	background-color: #f5f5f5;
	position: fixed;
	right: 0px;
	width: 100%;
	left: 0px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
	top: 30px;
	color: #005294;
	font-weight: lighter;
	border-bottom: solid 2px #005294;
	border-bottom-color: #005294;
	border-bottom-width: 1px;
	margin-top: 12px;
	font-size: 23pt;
}

span.AudienceGroup
{
	
}

span.AudienceJob
{
	
}

span.DatabaseChar
{
	font-weight: bold;
}

span.ParameterName
{
	font: Courier;
	font-family: cursive;
}

span.Systemoutput
{
	color: #696969;
	font: Calibri;
	font-family: cursive;
	font-weight: bold;
}

p.TableCaption
{
	font-weight: bolder;
	text-indent: 20px;
}

h2.Heading2
{
	font-family: Calibri;
	text-align: left;
	mc-heading-level: 2;
	margin: 0.75em;
	margin-bottom: 8pt;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 16pt;
	text-transform: none;
	page-break-before: avoid;
	color: #005294;
	font-size: 18pt;
	font-weight: bold;
}

h3.Heading3
{
	mc-heading-level: 0;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin: 0.75em;
	margin-left: 0pt;
	margin-right: 0pt;
	font-family: Calibri;
	page-break-before: avoid;
	margin-top: 12pt;
	margin-bottom: 4pt;
	text-transform: none;
	font-size: 14pt;
	color: #4169e1;
	font-weight: bold;
}

h4.Heading4
{
	font-weight: bold;
	mc-heading-level: 0;
	margin-bottom: 4pt;
	margin-top: 12pt;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-left: 0;
	letter-spacing: 1px;
	font-family: Calibri;
	text-transform: none;
	color: #005294;
	font-size: 11pt;
}

h5.Heading5
{
	color: #0e4600;
	font-family: Verdana, Calibri;
	font-size: 8.0pt;
	font-weight: bold;
	margin-bottom: 8pt;
	margin-top: 8pt;
	mc-heading-level: 0;
	page-break-before: avoid;
}

MadCap|xref.ParaTextOnly
{
	
}

span.Hyperlink
{
	
}

span.Title1
{
	font-size: 28pt;
	color: #191970;
	font-weight: bold;
}

p.Indent
{
	text-indent: 20px;
}

p.MacroText
{
	
}

p.Optstep
{
	
}

p.ReqStep2
{
	mc-auto-number-format: '{a}';
	text-indent: 10px;
}

p.StepXMP
{
	
}

img.img_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-left-style: solid;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
}

span.HTMLCode
{
	font: Courier;
	font-family: 'Courier New';
}

span.HTMLTypewriter
{
	color: #696969;
	font: Courier;
	font-family: 'Courier New';
}

span.SubStep
{
	mc-auto-number-format: '{n=1}';
	text-indent: 10px;
}

span.UserInput
{
	color: #696969;
	font: Calibri;
	font-family: Calibri;
}

span.Varname
{
	font: Calibri;
	font-family: cursive;
}

p.BulletsIndented_3
{
	list-style: square;
	margin-left: 0.175in;
	text-indent: 20px;
	mc-auto-number-format: '•';
}

p.NUMBERS
{
	mc-auto-number-format: '{n=1}';
}

p.NUMBERS2
{
	mc-auto-number-format: '{n=1}';
}

p.NUMBERS3
{
	mc-auto-number-format: '{n=1}';
}

p.NUMBERS4
{
	mc-auto-number-format: '{n=1}';
}

p.SeeAlsoHeading
{
	font-weight: bold;
	border-bottom: solid 1px #808080;
}

p.Step
{
	text-indent: 10px;
}

p.StepHeading
{
	font-weight: bold;
}

span.HTMLVariable
{
	font-weight: italic;
}

img.img_2
{
	mso-wrap-style: none;
	v-text-anchor: middle;
}

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 75pt;
}

ol.ol_2
{
	list-style-type: decimal;
	margin-left: 78pt;
}

ol.ol_3
{
	list-style-type: decimal;
	margin-left: 85pt;
}

span.span_1
{
	
}

span.span_2
{
	
}

span.span_3
{
	
}

span.KeyName
{
	font: Calibri;
	font-family: Calibri;
	font-weight: bold;
}

ul.ul_1
{
	
}

p.Caption
{
	font: Calibri;
	font-family: Calibri;
	font-style: italic;
	text-indent: 10px;
}

span.Caption
{
	font: Calibri;
	font-family: Calibri;
	font-style: italic;
}

span.Option
{
	font: Calibri;
	font-family: Calibri;
}

span.Subscript
{
	vertical-align: sub;
}

p.DiagramInternalText
{
	font-size: 8pt;
}

p.Code
{
	font: Courier New;
	font-family: 'Courier New';
	font-size: 8pt;
	background-color: #ffff00;
	text-indent: 10px;
}

p.TOC
{
	color: #0000cd;
	font: Calibri;
	font-family: Calibri;
	font-size: 18pt;
	font-weight: bold;
}

i.Composite_Screen
{
	color: #696969;
}

span.Composite_Screen
{
	color: #696969;
	text-decoration: underline;
	font-style: italic;
}

span.Tabbed_Screen
{
	font-variant: small-caps;
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
}

span.version
{
	font-size: 12pt;
	font-family: sans-serif;
}

span.Enquiry
{
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	font-family: Calibri;
}

span.Function
{
	font-weight: normal;
	font-style: italic;
	font-size: 12pt;
	font-family: Calibri;
}

span.Application
{
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
	font-family: Calibri;
	color: #ff8c00;
}

ul.ul_2
{
	list-style-type: disc;
	margin-left: 10pt;
}

ul.ul_3
{
	list-style-type: square;
	margin-left: 85pt;
}

ul.ul_4
{
	list-style-type: square;
	margin-left: 113pt;
}

ul.ul_5
{
	list-style-type: disc;
	margin-left: 2pt;
}

p.BULLETS_2
{
	color: #000000;
	font-style: normal;
	font-weight: normal;
	list-style-position: outside;
	margin-bottom: 8pt;
	margin-top: 8pt;
	font-family: Calibri;
	list-style-type: disc;
	font-size: 7pt;
	margin-left: 0px;
	display: block;
	mc-auto-number-format: '● ';
}

p.BULLETS_3
{
	mc-auto-number-format: '● ';
}

MadCap|xref.ParaTextOnly_1
{
	mc-format: '{paratext}';
}

MadCap|footnote.footnote
{
	mc-footnote-comment-format: '{n}';
	mc-footnote-format: '{n}';
}

li.li_1
{
	list-style-type: disc;
}

ul.ul_6
{
	list-style-type: disc;
	margin-left: 28pt;
}

img.Original
{
	height: auto !important;
	width: auto !important;
	clear: none;
	mc-float: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #808080;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #808080;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
}

p.BULLETS_4
{
	color: #000000;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	list-style-position: outside;
	margin-bottom: 8pt;
	margin-left: 0px;
	margin-top: 8pt;
	font-family: Calibri;
	mc-auto-number-format: '● ';
	list-style-type: disc;
}

u.u_1
{
	list-style-type: square;
}

p.NUMBERS
{
	
}

p.NUMBERS1
{
	
}

blockquote.Tablecodeblock
{
	
}

a.MenuCascade
{
	font: Calibri;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}

a.MenuField
{
	font: Calibri;
	font-size: 8pt;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}

span.Titleplus120pt
{
	font: Calibri;
	font-size: 28pt;
	letter-spacing: 14pt;
}

ol.ol_4
{
	list-style-type: decimal;
	margin-left: 113pt;
}

ul.ul_7
{
	list-style-type: square;
	margin-left: 142pt;
}

p.TOC3
{
	
}

span.CodeBlock
{
	font: Courier;
	font-family: 'Courier New';
	font-size: 8pt;
	text-indent: 10px;
	background-color: #fdf5e6;
}

span.database
{
	font-weight: bold;
}

span.ParameterName
{
	font: Courier New;
	font-family: 'Courier New';
}

ul.ul_8
{
	list-style-type: disc;
	margin-left: 0pt;
}

span.MadCap2_1
{
	font-style: italic;
	mc-disabled: false;
	list-style-type: square;
}

span.MenuCascade
{
	font: Calibri;
	font-family: Calibri;
	font-style: italic;
	font-weight: bold;
}

p.StepResult
{
	
}

p.SubStep
{
	display: list-item;
}

span.CommentReference
{
	
}

img.img_3
{
	mso-position-horizontal: left;
}

img.img_4
{
	visibility: visible;
}

ol.ol_5
{
	list-style-type: lower-alpha;
	margin-left: 103pt;
}

img.img_5
{
	left: 0;
	text-align: left;
	z-index: 5;
	margin-left: 414pt;
}

div.div_1
{
	left: 0;
	text-align: left;
	margin-left: 9pt;
	margin-top: 12.75pt;
}

img.img_6
{
	visibility: visible;
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-left-style: solid;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
}

ul.ul_9
{
	list-style-type: disc;
	margin-left: 36pt;
}

ol.ol_6
{
	list-style-type: lower-alpha;
	margin-left: 36pt;
}

p.BULLETS_5
{
	color: #000000;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	list-style-position: outside;
	margin-bottom: 8pt;
	margin-top: 8pt;
	font-family: Calibri;
	mc-auto-number-format: '● ';
	text-align: left;
	text-indent: 2px;
	margin-left: -4px;
	list-style-type: disc;
}

img.img_7
{
	left: 0;
	text-align: left;
	z-index: 1;
	mso-position-vertical-relative: page;
	margin-left: 414pt;
}

img.icon
{
	width: 10px;
	height: 10px;
	border-bottom-color: white;
	border-left-color: white;
	border-right-color: white;
	border-top-color: white;
}

a.bold:link
{
	text-decoration: none;
}

a.bold:visited
{
	text-decoration: none;
}

a.bold:hover
{
	text-decoration: none;
}

a.dropspot:link
{
	text-decoration: none;
}

a.dropspot:visited
{
	text-decoration: none;
}

a.dropspot:hover
{
	text-decoration: none;
}

a.exampletext:link
{
	text-decoration: none;
}

a.exampletext:visited
{
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
}

a.exampletext:hover
{
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
}

a.expandspot:link
{
	text-decoration: none;
}

a.expandspot:visited
{
	text-decoration: none;
}

a.expandspot:hover
{
	text-decoration: none;
}

a.footermaster:link
{
	text-decoration: none;
}

a.footermaster:visited
{
	text-decoration: none;
}

a.footermaster:hover
{
	text-decoration: none;
}

a.GlossaryPageTerm:link
{
	text-decoration: none;
}

a.GlossaryPageTerm:visited
{
	text-decoration: none;
}

a.GlossaryPageTerm:hover
{
	text-decoration: none;
}

a.glossterm:link
{
	text-decoration: none;
}

a.glossterm:visited
{
	text-decoration: none;
}

a.glossterm:hover
{
	text-decoration: none;
}

a:link
{
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #324986;
}

a:visited
{
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #4169e1;
}

a:hover
{
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	color: #324986;
}

a:active
{
	font-style: normal;
	font-weight: normal;
}

a.Popup:link
{
	text-decoration: none;
}

a.Popup:visited
{
	text-decoration: none;
}

a.Popup:hover
{
	text-decoration: none;
}

a.PopupHotspot:link
{
	text-decoration: none;
}

a.PopupHotspot:visited
{
	text-decoration: none;
}

a.PopupHotspot:hover
{
	text-decoration: none;
}

