div.linktext:hover
{
	color: Yellow;	
	font-family:Arial;
	font-size: 10px;
	position:absolute;
	cursor:pointer;	
}
div.linktext:
{
	font-family:Arial;
	cursor:pointer;	
	color:White;
}
div.wingdingstext:
{	
	mso-ascii-font-family: Calibri;
    mso-ascii-theme-font: minor-latin; 
    mso-fareast-theme-font: minor-fareast; 
    mso-bidi-theme-font: minor-bidi;
    mso-color-index: 0; 
    mso-font-kerning: 12.0pt; 
    language: en-US; 
    mso-char-type: symbol;
    mso-symbol-font-family: Wingdings; 
    mso-style-textfill-type: solid; 
    mso-style-textfill-fill-themecolor: background1;
    mso-style-textfill-fill-color: white; 
    mso-style-textfill-fill-alpha: 100.0%
}

.table1 {
background: rgba(255,255,255,0.2);
}

.table2 {
background: rgba(255,255,255,0.05);
}

.table3 {
background: rgba(0,0,0,0.02);
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	width: 100%;
	height: 40px;
	background: rgba(255,255,255,0.05);
	position: fixed;  
	top: 0;
    left: 0;
}

#headerDown {
	width: 100%;
	height: 40px;
	background: rgb(79,148,205);
	position: fixed;  
	top: 0;
    left: 0;
}

#content {
	padding:10px;
	padding-bottom:80px;   /* Height of the footer element */
}
#footer {
	width:100%;
	height:30px;
	position:fixed;
	bottom:0;
	left:-4px;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #5B9BD5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #5B9BD5;
  background-color: #5B9BD5;
  *background-color: #5B9BD5;
}

.btn:active,
.btn.active {
  background-color: #5B9BD5 \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #5B9BD5;
  text-decoration: none;
  background-color: #5B9BD5;
  *background-color: #5B9BD5;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #5B9BD5;
  background-color: #5B9BD5 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #5B9BD5;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
	}	  
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #b4b12f;
  *background-color: #5B9BD5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5B9BD5));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5B9BD5);
  background-image: -o-linear-gradient(top, #5bc0de, #5B9BD5);
  background-image: linear-gradient(to bottom, #5bc0de, #5B9BD5);
  background-image: -moz-linear-gradient(top, #5bc0de, #5B9BD5);
  background-repeat: repeat-x;
  border-color: #5B9BD5 #5B9BD5 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff5B9BD5', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #e0db03;
  *background-color: #b4b12f;
  background-color: #5B9BD5;
}

.btn-info:active,
.btn-info.active {
  background-color: #b4b12f \9;
}		  

