		<!-- Banner -->
		<!--	 <section id="banner">
				<h2><strong>Model Bank</strong></h2>
				<p></p>
				<ul class="actions">
					<li><a href="#" class="button special">Get started</a></li> 
				 </ul> 
			 </section> 
			<a routerLink="home"><font size="2 px"><u>Home</u> > Knowledge </font></a> 
			 <div style="text-align: center;"> 
				</div>
			-->
		<!-- One -->
		
		<div id="docsMain">
			
		<iframe src="https://modelbank.temenos.com/docs/default.htm" name="targetframe" height="100%" allowTransparency="true" width="100%" scrolling="yes" frameborder="0" >
		</iframe>
	    </div>

			<!-- <section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h1><strong><u>Access denied to FAQ and Sanity</u> <br><br></strong> You are getting this page, as you are accessing this page from outside Temenos network. Please prior log into Temenos network using Pulse or through <a href="http://portal.temenos.com/" target="_blank"><b style="color: blue;">http://portal.temenos.com/</b></a> to access these pages.</br></h1>
					</header>
					</div>
				
			</section> -->

			<footer id="footer">
				<div class="copyright">
					
				</div>
			</footer>