<section id="banner">
  <p></p>
    <h2>
      <strong>Model Bank (Downtime)</strong>
    </h2>
    
    
  </section>
  <a routerLink="/home">
    <!-- <font size="2 px">Home > Environment </font> -->
  </a>
  
  <!-- One -->
  <section id="one" class="wrapper special">
    <div class="inner">
      <header class="major">
        <h1>
          <strong>Site down due to daily refresh. Check site after <br> {{26-getHrs()}} hrs, {{60-getMins()}} minutes.</strong>
         <!-- <a target="_blank" title="Manifest" href="http://modelbank.westeurope.cloudapp.azure.com/manifest.html">
            <sup>
              <font color="#005294">&nbsp;
                <u>Version</u>
              </font>
            </sup>
            <strong>.</strong>
          </a> -->
          </h1>
      </header>
  <!--
      <a target="_blank" title="Temenos Browser" href="http://modelbank.westeurope.cloudapp.azure.com:9089/BrowserWeb/" class="button special">Core Banking</a>
      <a target="_blank" title="UXP Browser" href="http://modelbank.westeurope.cloudapp.azure.com:9089/Browser" class="button special">UXP Browser</a>
      <br>
  
  
      <a target="_blank" title="Retail Banking" href="http://modelbank.westeurope.cloudapp.azure.com:9089/Retail" class="button special">Retail Internet</a>
      <a target="_blank" title="Corporate Banking" href="http://modelbank.westeurope.cloudapp.azure.com:9089/Corporate" class="button special">Corporate Internet</a>
  -->
  
  
    </div>
  
    <br/>
    <br/>
  <!--
    <h1>
      <a target="_blank" title="Download Model Bank" href="http://utp.temenosgroup.com/downloads/demomb">
        <sup>
          <font color="#005294">
            <u>Download</u>
          </font>
        </sup>
        <br/>
        <br/>
      </a>
    </h1>
    -->
    <!-- container for Moment.js output <center>Server time<div id="displayMoment">	down time 10 - 15 UTC </div> </center>  -->
  
  </section>
  
  <div class="time">
    <div class="timetext">
      <strong>
        <b>
          <h6>
           <!--  Server Time :
            <span id="servertime">{{pageTitle}}</span> 
           -->
           
            <span id="time"><h4>Server Time : {{getDate()}} | Down Time : 10:00 PM - 03:00 AM UTC</h4></span>
          
            
          </h6>
        </b>
      </strong>
    </div>
  </div>

  
  
  <!-- Footer -->
  <footer id="footer">
    <div class="copyright">
  
    </div>
  </footer>
  