<section id="banner">
    <p></p>
    <h2>     
      <strong>Model Bank</strong>
    </h2>  
  </section>
  <a routerLink="/home">
    <!-- <font size="2 px">Home > Environment </font> -->
  </a>
  
  <!-- One -->
  <section id="one" class="wrapper special">
    <div class="inner">
      <header class="major">
        <h1>
          <strong>Latest Release UTP Package</strong>
          <a target="_blank" title="Manifest" href="http://modelbank.westeurope.cloudapp.azure.com/manifest.html">
            <sup>
              <font color="#005294">&nbsp;
                <u>Version</u>
              </font>
            </sup>
            <strong>.</strong>
          </a>
          </h1>
      </header>
  
     <!-- <a target="_blank" title="Temenos Browser" href="http://modelbank.westeurope.cloudapp.azure.com:9089/BrowserWeb/" class="button special">Core Banking</a> -->
     <a target="_blank" title="Temenos Browser" href={{getURL()}} class="button special">Core Banking</a> 
     <a target="_blank" title="UXP Browser" href="http://modelbank.westeurope.cloudapp.azure.com:9089/Browser" class="button special">UXP Browser</a>
      <br> 
      <a target="_blank" title="Retail Banking" href="http://modelbank.westeurope.cloudapp.azure.com:9089/Retail" class="button special">Retail Internet</a>
      <a target="_blank" title="Corporate Banking" href="http://modelbank.westeurope.cloudapp.azure.com:9089/Corporate" class="button special">Corporate Internet</a>
      <br>
      <a target="_blank" title="TFO" href="http://modelbank.westeurope.cloudapp.azure.com:9089/TFO" class="button special">TFO</a>
    
    </div>  
    <br/>
    <br/>
  </section>
  
  <div class="time">
    <div class="timetext">
      <strong>
        <b>
          <h6>         
           <!-- <span id="time"><h4>{{checkDowntime()}}</h4></span>
           <a alt="" id="Solution" title="Downtime Check" style="text-decoration:none" (click)="checkDowntime()" [attr.href]="networkLink"></a> -->
            <span id="time"><h4>Server Time : {{getDate()}} | Down Time : 10:00 PM - 03:00 AM UTC</h4></span>   
                 
          </h6>
        </b>
      </strong>
    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="copyright">
  
    </div>
  </footer>
  