	<!-- Banner -->
    <section id="banner">
        <h2><strong>Model Bank</strong></h2>
        <p></p>
        <ul class="actions">
            <!-- <li><a href="#" class="button special">Get started</a></li> -->
    </ul>
    </section>
&nbsp;&nbsp; <!-- <a href="../index.html"><font size="2 px"><u>Home</u> > FAQ </font></a> -->
<!-- One -->
    <section id="one" class="wrapper special">
        <div class="inner">
            <header class="major">
            </header>
            <strong>Click on this <a id="FAQ" href="http://uni-t.temenos.com/teams/MB/Lists/FAQ/Meena.aspx">Model Bank FAQ</a> uni-t link to access Sharepoint <br>Model Bank FAQ Page. Or search below.<br><br></strong>
            <div class="features">
            
                <iframe src='https://webchat.botframework.com/embed/FAQMB?s=ZdDSRfQzb1s.cwA.TsI.K4EHOGkupdPeiQLjsvvC3iGM9IirQt3ASKciBddIdYE' width="550" height="500"></iframe><br>
                
            
                </div>
</div><br>In learning mode, needs patience and tutor !</section>
<!-- Footer -->
    <footer id="footer">
        
    </footer>