<footer  *ngIf="loginStatus" id="footer">
    <div class="copyright li">
        <a></a>
        
        <a alt="" title="Installation report" routerLink="/usage">Usage</a>
        <div>
            <a id="chat-icon" *ngIf="!chatShow" (click)="chatShow=!chatShow">             
                Ask Model Bot <i class="fas fa-child"></i>
                 </a>
                 <a id="chat-min" *ngIf="chatShow" title="Your chat session is active" (click)="chatHide=false"> (Session Active)
      <i class="fa fa-comment"></i>
                 </a>
        </div>        
    </div>
</footer>
<div *ngIf="chatShow" [class.hidden]="chatHide"  id="chat-box">
   <div id="chat-ctrl">   
      <a *ngIf="chatShow" (click)="chatHide=true" ><i class="fas fa-window-minimize"></i></a>
      <a (click)="chatShow=!chatShow"><i class="fas fa-times"></i></a>
   </div>    
    <!-- 
        <iframe width="100%" height="100%" src="https://webchat.botframework.com/embed/FAQMB?s=ZdDSRfQzb1s.cwA.TsI.K4EHOGkupdPeiQLjsvvC3iGM9IirQt3ASKciBddIdYE"></iframe>
    -->
    <iframe width="100%" height="100%" src="https://modelbot.azurewebsites.net/"></iframe>
 </div>