<!-- <nav *ngIf="loginStatus" class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
    </li>
  </ul>
 

  <ul class="navbar-nav" >
    <li class="nav-item">
      
    

      <a href="/#/home"><i id="home-icon" class="fas fa-home" title="Home"></i></a>      
      <a><i class="fas fa-user-circle"></i><b> Hi, {{userName}}</b></a>        
     

      <span>
          <a href="/#/home " data-toggle="collapse"><i id="home-icon" class="fas fa-home" title="Home"></i></a>  
        <a class="log-out" title="Terminates the session" (click)="logOut()"><b>Log Out</b></a>
      </span>
      
    </li>
  </ul>
</nav> -->
<div id="app-header"  *ngIf="loginStatus" class="pos-f-t">
    
    <nav class="navbar navbar-light">  
      <ul class="navbar-nav">
            <li class="nav-item"> 
              
      <a href="/#/home"><i id="home-icon" class="fas fa-home" title="Home"></i></a>
      <a (click)="showNotify=!showNotify;" ><i id="bell-icon" class="fas fa-bell bdg" title="Notifications" nbr="&nbsp;2"></i></a>       
        <a><i class="fas fa-user-circle"></i><b> Hi, {{userName}}</b></a>        
       </li>
       </ul>
      <button id="menu-but" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
         
          <a class="log-out" title="Terminates the session" (click)="logOut()">Log Out</a>
          
        </div>
      </div>
  </div>

  <app-notify *ngIf="showNotify"></app-notify>  