
<section id="banner">
    <p></p>
    <h2>     
      <strong>Model Bank</strong>
    </h2>  
  </section>
    

  <!-- For pop up -->

  <!-- Button trigger modal -->
  <button style="display: none" id="test" type="button" class="btn btn-primary" appHighlight data-toggle="modal" data-target="#exampleModal">
      Certificate
</button>

<!-- Modal -->
<div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">       
      <h6 class="modal-title" id="exampleModalLabel">Please <u>Accept</u> the certificate for site features for first time viewing, or <u>Close</u> to proceed.</h6>
     <!-- 
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">           
      <span aria-hidden="true">&times;</span>
      </button>
    -->
  </div>
  <!--
  <div class="modal-body">
    Please accept the certificate in order to post requests and see notifications.
  </div>
   -->
  
  <div class="modal-footer">
   <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
   <a class="btn btn-secondary" style= "background-color:#f89017; color:#FFFFFF" data-dismiss="modal">&nbsp;Close&nbsp;</a>
   <a target="_blank" style = "background-color: #f89017; text-decoration:none" href="https://temenosbnkinfra.cloudapp.net/success.php" class="btn btn-primary">Accept</a>
  </div>
</div>
</div>
</div>


  <!-- Pop up ends -->
  
    <section id="one" class="wrapper special">
    <div class="inner">
      <header class="major">
        <h1><strong>Links to latest monthly Model Bank reference system, documentation and process.<br></strong> </h1>
      </header>
      </div>
      <div class="features">
        <div class="feature">
            <a alt="" id="Solution" title="Reference System" style="text-decoration:none" (click)="checkDowntime()" [attr.href]="downtimeLink"><img src="assets/images/env.png">
         <!-- <a alt="" title="Environment" style="text-decoration:none" routerLink="/env"><img src="assets/images/env.png"> 	-->
    <h3><strong>Reference System</strong></h3>
  </a>
        
          Latest release UTP <br>package URL(s).
        </div>
        <div class="feature">
            <!-- <a alt="" id="Solution" title="Sanity check" style="text-decoration:none" (click)="networkTest()" [attr.href]="networkLink"><img src="assets/images/test.png">		 	-->
            
              <a alt="" id="Solution" target="_blank" title="Reference Doc" style="text-decoration:none" href="http://gva2flare.temenosgroup.com/R19ID/R19ID.htm#Misc/R19/R19MB.htm%3FTocPath%3DModel%2520Bank"><img src="assets/images/RefDoc.png">
             
            
              <!-- <a alt="" id="Solution" title="Sanity check" style="text-decoration:none" routerLink="/sanity"><img src="assets/images/RefDoc.png"> -->
             <!-- <a alt="" id="Solution" title="Sanity Check" style="text-decoration:none" (click)="getSanityURL()"><img src="assets/images/test.png"> -->
              <h3><strong>Reference Doc</strong></h3>
  </a>
        
             Link to knowledge<br>documentation.<h6>(within Temenos<br>network)</h6>
        </div>
      
                    <div class="feature">
  <a alt="" target="_blank" title="Reference Process" style="text-decoration:none;" href="http://maa2aris.asia.temenosgroup.com:9090/businesspublisher/link.do?login=anonymous&password=anonymous&localeid=1033&ph=2hrrmr1&modelguid=5edea7f0-59f5-11e8-60ab-001aa01b6d05"><img src="assets/images/RefPro.png">							 	
  <h3><strong>Reference Process</strong></h3>
  </a>
          
             Link to ARIS<br>documentation.<h6>(within Temenos<br>network)</h6>
          <p></p>
        </div>
      </div>			
    <!-- <a href="#/videos" id="float-video"><i class="fa fa-video-camera" title="Click here for videos" aria-hidden="true"><div class="fontname">Videos</div></i>
    </a> -->

    <a href="#/videos" id="float-video"><i class="fa fa-video-camera" title="Click here for videos"><span class="fontname">&nbsp;Videos</span></i>
    </a>
  </section>
  