<section id="banner">
    <p></p>
    <h2>     
      <strong>Model Bank</strong>
    </h2>  
  </section>
  <a routerLink="/home">    
  </a>
  
  <!-- One -->
  <section class="main-section">
    <div class="row outer-row" data-mc-content-body="True">
        <div style="text-align:center;width:100%;font-size: 20pt;"> <p></p>
        </div>
        <div class="home-tiles" style="text-align: justify;">
            <div>
                <img src="assets/images/Analytics.png" class="responsive disabled">
            </div>
            <div><a href="https://modelbank.temenos.com/docs/Content/Smap/MB/Core Banking.htm"><img src="assets/images/CoreBanking.png" class="responsive"></a>
            </div>
            <div>
                <img src="assets/images/Channels.png" class="responsive disabled">
            </div>
        </div>
        
        <div class="home-tiles" style="text-align: justify;">
            <div>
                <img src="assets/images/FinancialCrime.png" class="responsive disabled">
            </div>
            <div>
                <img src="assets/images/FrontOffice.png" class="responsive disabled">
            </div>
            <div>
                <img src="assets/images/FundsSecurities.png" class="responsive disabled">
            </div>
        </div>
        <div class="home-tiles" style="text-align: justify;">
            <div>
                <img src="assets/images/Payments.png" class="responsive disabled">
            </div>
            <div>
                <img src="assets/images/RisknCompliance.png" class="responsive disabled">
            </div>
            <div>
                <img src="assets/images/CMB.png" class="responsive disabled">
            </div>
        </div>
        
    </div>
</section>
  <p></p>
<div>
  <div>Release Highlights</div>
  <div><br></div>
  <ul>
    <li>XXX</li>
    <li>XXX</li>
    <li>XXX</li>
  </ul>
</div>
<div>
  <div>By Interest</div>
  <div><br></div>
  <ul>
    <li>XXX</li>
    <li>XXX</li>
    <li>XXX</li>
  </ul>
</div>
  