<section id="banner">
        <p></p>
        <h2>     
          <strong>Model Bank</strong>
        </h2>  
      </section>
<!-- <a href="https://modelbank.azurewebsites.net/">
    <font size="2 px">
        <u>Home</u> > No Access </font>
</a> -->

<!-- One -->
<section id="one" class="wrapper special">
    <div class="inner">
        <header class="major">
            <h1>
                <strong>
                    <u>Access denied to FAQ and Sanity</u>
                    <br/>
                    <br/>
                </strong>
                 You are getting this page, as you are accessing this page from outside Temenos network. Please prior log
                into Temenos network using Pulse or through
                <a href="http://portal.temenos.com/" target="_blank">
                    <b style="color: blue;">http://portal.temenos.com/</b>
                </a> to access these pages.
                <br/>
            </h1>
        </header>
    </div>

</section>

<footer id="footer">
    <div class="copyright">

    </div>
</footer>
