<div id="notify">
  <div *ngFor="let nf of notifyData" class="card">
    <div class="card-body">
      <h5 class="card-title">{{nf.title}}</h5>
      <h6 class="card-subtitle">{{nf.id}}</h6>
      <h4 class="card-date">{{nf.date}}</h4>
      <p class="card-text">{{nf.description}}</p>
    </div>
  </div>
</div>
