<section id="banner">
    <p></p>
    <h2>
        <strong>Model Bank</strong>
    </h2>
</section>

<!-- Button trigger modal -->
    <button style="display: none" id="test" type="button" class="btn btn-primary" appHighlight data-toggle="modal" data-target="#exampleModal">
            Certificate
    </button>
  
  <!-- Modal -->
  <div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">       
            <h5 class="modal-title" id="exampleModalLabel">Please accept the certificate in order to see notifications and post requests (Close if accepted already)</h5>
           <!-- 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">           
            <span aria-hidden="true">&times;</span>
            </button>
          -->
        </div>
        <!--
        <div class="modal-body">
          Please accept the certificate in order to post requests and see notifications.
        </div>
         -->
        
        <div class="modal-footer">
         <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
         <a class="btn btn-secondary" data-dismiss="modal">&nbsp;Close&nbsp;</a>
         <a target="_blank" href="https://temenosbnkinfra.cloudapp.net" class="btn btn-primary">Accept</a>
        </div>
      </div>
    </div>
  </div>

  


<!-- For Pop-Up Starts

<script data-require="angular.js@1.4.7" data-semver="1.4.7" src="https://code.angularjs.org/1.4.7/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
<link rel="stylesheet" href="style.css" />
<script src="script.js"></script>

<div ng-app="DemoApp" ng-controller="akuaController">
    <div ng-init="load()">
    </div>
</div>

 For Pop-Up Ends -->

<!-- One -->
<section id="one" class="wrapper special">
    <!-- <div class="inner"> -->
    <div class="inner">
        
        <div class="container" >
          
            <div *ngIf="!successMsg" class="row">
            
                   
                        <form [formGroup]="notifyForm" novalidate>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Title : &nbsp;</span>
                                    <input length="40" formControlName="title" type="text" class="form-control" placeholder="Enter Title" aria-describedby="basic-addon1">
                                    
                                </div>
                                
                                
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Description : &nbsp;</span>
                                    <textarea formControlName="desc" type="text" class="form-control" placeholder="Enter Description here" aria-describedby="basic-addon1"></textarea>
                                </div>
                                <!--
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">User : &nbsp;</span>
                                    <input formControlName="id" type="text" class="form-control" placeholder="Enter userId" aria-describedby="basic-addon1">
                                </div>
                                -->
                                
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Date : &nbsp;</span>
                                    <input formControlName="date" type="date" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                </div>
                                

                            </div>
                            <div class="row">
                                <button type="submit" [disabled]="!notifyForm.valid" title="Submit your entry" class="btn btn-primary" (click)="submitData()">Submit</button>
                                <button type="button" title="Delete the last entry" class="btn btn-primary" (click)="delData()">Delete</button>
                            
                            </div>
                        </form>
                    
                
            </div>

            <div>

            </div>

            <div *ngIf="successMsg">
                <div>Session with sessionId
                    <span style="color: green;font-weight: bold;">{{session.session.sessionId}}</span> Created Successfully</div>
                <a class="btn btn-primary" (click)="joinSession(session.session.sessionId)">Join Session</a>
            </div>
        </div>
    </div>

</section>

<footer id="footer">
    <div class="copyright">

    </div>
</footer>