<div id="knowledge">
		<!-- 
		document.getElementById("iframe_id").contentDocument.getElementById("destination_id").innerHTML = country ;
		-->
		<!--
		<iframe id="myIframe" [src]="safeUrl" name="targetframe" height="100%" allowTransparency="true" width="100%" scrolling="yes" frameborder="0" >
		-->
		<iframe id="myIframe" [src]="dynamicSanURL" name="targetframe" height="100%" allowTransparency="true" width="100%" scrolling="yes" frameborder="0" >
		
		</iframe>
		
	    </div>

			<footer id="footer">
				<div class="copyright">
					
				</div>
			</footer>