<!-- 
<section id="banner">
    <p></p>
    <h2>     
      <strong>Model Bank</strong>
    </h2>  
  </section>
-->
<!-- 
<a href="../index.html">
  <font size="2 px">
    <u>Home</u>
 > Usage </font></a> 
-->

<!-- One -->

<section id="one" class="wrapper special">
  <div class="inner">
    <header class="major">
      <h1>
        <strong>Analytics reports on Model Bank.</strong>
      </h1>
    </header>
    <div class="features">
     <!-- 
       <iframe width="933" height="581" src="https://app.powerbi.com/view?r=eyJrIjoiN2I3MDExN2UtYTljNy00NWRlLWExNTgtN2U5Y2M0NjQ4MzVmIiwidCI6ImQ1ZDI1NDBmLWY2MGEtNDVhZC04NmE5LWUyZTc5MmVlNjY2OSIsImMiOjN9"
        frameborder="0" allowFullScreen="true"></iframe>
     -->
     <iframe width="933" height="581" src="https://app.powerbi.com/view?r=eyJrIjoiNjMyNmU3NjYtYmIzNy00ZWRkLThiZGItMWRmZTE0NzhhZWIxIiwidCI6ImQ1ZDI1NDBmLWY2MGEtNDVhZC04NmE5LWUyZTc5MmVlNjY2OSIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe> 
    </div>
    
  </div>
  <section id="one" class="wrapper special">
      <div class="inner">
          <a href="#/videos" id="float-video"><i class="fa fa-video-camera" title="Click here for videos"><span class="fontname">&nbsp;Videos</span></i>
          </a>
  </div>
  </section>
  <!-- Footer -->
  <footer id="footer">

  </footer>
