<section id="banner">
    <p></p>
    <h2>
        <strong>Model Bank</strong>
    </h2>
</section>


<!-- One -->
<!-- <section id="one" class="wrapper special">  
    <div class="inner">
     <h3><b><u>Video Categories</u></b></h3> 
    </div>
</section> -->
<!-- 
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a>Core Banking</a></li>
    <li role="presentation" ><a>Retail Banking</a></li>
    <li role="presentation" ><a>&nbsp;&nbsp;&nbsp;&nbsp;FCM&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  </ul> -->
<!--
<video width="300" controls>
  <source src="../../assets/videos/Core Banking-2_General Ledger (GL) availabile.mp4" type="video/mp4">
</video>
-->
<p></p>

<ul class="nav nav-tabs">
    <!-- <li><a class="active" data-toggle="tab" href="#CB">Core Banking</a></li> -->
    <li class="active"><a data-toggle="tab" href="#CB" style="font-size:16px;">&nbsp;Core&nbsp;</a></li>
    <li><a data-toggle="tab" href="#RB" style="font-size:16px;">Retail</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:16px;">++
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
      <li><a data-toggle="tab" href="#CP" style="font-size:14px;">Corporate</a></li>
      <li><a data-toggle="tab" href="#WT" style="font-size:14px;">Wealth</a></li>
      <li><a data-toggle="tab" href="#PM" style="font-size:14px;">Payments</a></li>
      <li><a data-toggle="tab" href="#FCM" style="font-size:14px;">FCM</a></li>
      <li><a data-toggle="tab" href="#TG" style="font-size:14px;">Technology</a></li>
      <li><a data-toggle="tab" href="#FM" style="font-size:14px;">Framework</a></li>
      <li><a data-toggle="tab" href="#DG" style="font-size:14px;">Digital</a></li>
      </ul>
    </li>
  </ul>
 
  <div class="tab-content">
    <div id="CB">
      <h3></h3>
      
      <!-- 1 CB -->
      
      <div class="thumbnailrow">
        <div class="col-xs-6 col-md-3">
          <div style='max-width: 360px'>
            <div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'>
              <iframe width="360" height="360" src="https://web.microsoftstream.com/embed/video/f5cb68de-3dea-42ae-8c56-fc4dd6951c77?autoplay=false&showinfo=true" frameborder="0" allowfullscreen style='position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;'>
              </iframe>
            </div>
          </div>
        <div class="captions">          
          </div>
        </div>
      </div>

        <!-- 2 CB -->

        <div class="thumbnailrow">
            <div class="col-xs-6 col-md-3">           
              <div style='max-width: 360px'>
                <div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'>
                  <iframe width="360" height="360" src="https://web.microsoftstream.com/embed/video/f5cb68de-3dea-42ae-8c56-fc4dd6951c77?autoplay=false&showinfo=true" frameborder="0" allowfullscreen style='position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;'>
                  </iframe>
                </div>
              </div>
            <div class="captions">
                <!-- <h3>Core Banking</h3>
                <p>Videos related to Core-Banking</p> -->
                <!-- <p><a href="#" class="btn btn-primary" role="button">View all</a>  -->
                <!-- <a href="#" class="btn btn-default" role="button">Button</a></p> -->
              </div>
            </div>
          </div>

           <!-- 3 CB -->

        <div class="thumbnailrow">
            <div class="col-xs-6 col-md-3">
              <div style='max-width: 360px'>
                <div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'>
                  <iframe width="360" height="360" src="https://web.microsoftstream.com/embed/video/f5cb68de-3dea-42ae-8c56-fc4dd6951c77?autoplay=false&showinfo=true" frameborder="0" allowfullscreen style='position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;'>
                  </iframe>
                </div>
              </div>

            <div class="captions">
                <!-- <h3>Core Banking</h3>
                <p>Videos related to Core-Banking</p> -->
                <!-- <p><a href="#" class="btn btn-primary" role="button">View all</a>  -->
                <!-- <a href="#" class="btn btn-default" role="button">Button</a></p> -->
              </div>
            </div>
          </div>    
          <!-- Next Link -->

          <div class="thumbnailrow">
                       
                <a target="_blank" title="Click for more videos" class="fas fa-external-link-alt" href="https://web.microsoftstream.com/channel/7eeec9a9-b9b5-4f4b-8d6a-15d70a32a0de?view=channel"></a>
              <div class="captions">
                  <!-- <h3>Core Banking</h3>
                  <p>Videos related to Core-Banking</p> -->
                  <!-- <p><a href="#" class="btn btn-primary" role="button">View all</a>  -->
                  <!-- <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                
              </div>
            </div>

    </div>
    <div id="RB" class="tab-pane fade">
      <h3></h3>
      
    </div>
    <div id="CP" class="tab-pane fade">
      <h3></h3>
      
    </div>
    <div id="WT" class="tab-pane fade">
      <h3></h3>
      
    </div>
    <div id="PM" class="tab-pane fade">
      <h3></h3>
      
    </div>
    <div id="FCM" class="tab-pane fade">
      <h3></h3>
      
    </div>
    <div id="TG" class="tab-pane fade">
        <h3></h3>
        
    </div>
    <div id="FM" class="tab-pane fade">
      <h3></h3>
      
    </div>
    <div id="DG" class="tab-pane fade">
        <h3></h3>
        
      </div>
  </div>

<footer id="footer">
    <div class="copyright">
    </div>
</footer>