<section id="banner">
    <p></p>
    <h2>
        <strong>Model Bank</strong>
    </h2>
</section>


<!-- One -->
<section id="one" class="wrapper special">  
    <div class="inner">
     <h3><b><u>Video Categories</u></b></h3> 
    </div>
</section>

<div class="thumbnailrow">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="assets/images/CB_GL.png" alt="...">
      </a>
    <div class="captions">
        <h3>Core Banking</h3>
        <p>Videos related to Core-Banking</p>
        <p><a href="#" class="btn btn-primary" role="button">View all</a> 
        <!-- <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>

<div class="thumbnailrow">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/images/CB_GL.png" alt="...">
      <div class="captions">
        <h3>Core Banking</h3>
        <p>Videos related to Core-Banking</p>
        <p><a href="#" class="btn btn-primary" role="button">View all</a> 
        <!-- <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
</div>
<div class="thumbnailrow">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/images/CB_GL.png" alt="...">
      <div class="captions">
        <h3>Retail Banking</h3>
        <p>Videos related to Retail Banking</p>
        <p><a href="#" class="btn btn-primary" role="button">View all</a> 
          <!-- <a href="#" class="btn btn-default" role="button">Button</a></p> --></div>
    </div>
  </div>
</div>
<div class="thumbnailrow">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/images/CB_GL.png" alt="...">
      <div class="captions">
        <h3>FCM</h3>
        <p>Videos related to FCM</p>
        <p><a href="#" class="btn btn-primary" role="button">View all</a> 
          <!-- <a href="#" class="btn btn-default" role="button">Button</a></p> --></div>
    </div>
  </div>
</div>
<div class="thumbnailrow">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/images/CB_GL.png" alt="...">
      <div class="captions">
        <h3>Payments</h3>
        <p>Videos related to Payments</p>
        <p><a href="#" class="btn btn-primary" role="button">View all</a> 
        <!-- <a href="#" class="btn btn-default" role="button">Button</a></p> --></div>
    </div>
  </div>
</div>
<div class="thumbnailrow">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/CB_GL.png" alt="...">
        <div class="captions">
          <h3>Channels</h3>
          <p>Videos related to Channels</p>
          <p><a href="#" class="btn btn-primary" role="button">View all</a> 
          <!-- <a href="#" class="btn btn-default" role="button">Button</a></p> --></div>
      </div>
    </div>
  </div>
<!--
<video width="300" controls>
  <source src="../../assets/videos/Core Banking-2_General Ledger (GL) availabile.mp4" type="video/mp4">
</video>
-->

<footer id="footer">
    <div class="copyright">
    </div>
</footer>