/* You can add global styles to this file, and also import other style files */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  .btn-welcome{
  color: #fff !important;
  background: #e37808;
  border:none;
  border-radius: 0;
  font-weight: 600;

}
.btn-welcome:hover{
  color: #e37808 !important;
  border: 1px solid  #e37808;
   
}


  .log-out{
    margin-left:20px;
    cursor: pointer; 
  }

  .responsive {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    }
    
    .disabled {
    opacity: 0.7;
    cursor: not-allowed;
    }
    
div.home-tiles	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	background-color: transparent;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	/*Adds transition animation when switching between screen sizes*/
	overflow: hidden;
}

div.home-tiles > div:nth-child(1)
{
	width: 16.667%;
	margin-left: 24%;
}

div.home-tiles > div:nth-child(2)
{
	width: 16.667%;
	margin-left: 1%;
}

div.home-tiles > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 1%;
}
@media screen and (max-width: 480px) {
  div.home-tiles > div
  {
    margin-top: 2%;
    text-align: center;
  }

  div.home-tiles > div:nth-child(1)
  {
    width: 60%;
    margin-left: 5%;
    text-align: center;
  }

  div.home-tiles > div:nth-child(2)
  {
    width: 60%;
    margin-left: 5%;
    text-align: center;
  }

  div.home-tiles > div:nth-child(3)
  {
    width: 60%;
    margin-left: 5%;
    text-align: center;
  }

  div.info-section > div
  {
    text-align: center;
    padding: 0 20px;
  }

  div.info-section > div:nth-child(1)
  {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  div.info-section > div:nth-child(2)
  {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 5%;
  }

  div.info-section > div:nth-child(3)
  {
    width: 100%;
    margin-left: 0%;
  }
}
#float-video{
  position: fixed;
  top:76vh;
  right:0;
  color: #ffff;
  background: #444;
  width:28px;
  display: block;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#float-video:hover{
  width:90px;
  color: #fff;
}